# Archivos temporales
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.tmp
*.DS_Store

# Archivos de depuración
__pycache__/
*.pyc
*.pyo
*.swp
*.swo

# Archivos de desarrollo
.env
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos generados por la construcción de PyPI
.eggs/
*.egg-info/

# Archivos generados por la construcción de Rasa
.rasa/